/* Estilos para el encabezado */
header {
	background-color: #4e7d99;
	padding: 20px;
	color: white;
	text-align: center;
}

header h1 {
	font-size: 36px;
	margin: 0;
}

header nav {
	margin-top: 20px;
}

header nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}

header nav li {
	margin: 0 10px;
}

header nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

header nav a:hover {
	text-decoration: underline;
}

/* Estilos para el contenido principal */
main {
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
}

section {
	flex-direction: column;
    float: right;
}

section h2 {
	font-size: 30px;
	margin: 0;
}

section article {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f5f5f5;
    border: 5px solid #4e7d99;
}

aside  {
    justify-content: space-evenly;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #f5f5f5;
    border: 5px solid #4e7d99;
}