body{
    margin: 0px;
    background-color: white;
}
header{
    margin: 0px;
    border: 1px solid black;
    padding: 10px 0px;
    background-color: rgb(50, 172, 172);
}
.h1 {
    text-align: center;
    text-decoration: underline;
    color: gold;
}
nav{
    margin: 0px 10px;
    padding: 2px;
    background-color: rgba(248, 238, 224, 0.671);
}
footer{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.459);
}
.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.organizacion {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
main{
    margin: 10px;
}

.copa-finalissima{
    height: 190px;
}
.america{
    background-color: rgba(108, 196, 199, 0.486);
}
.copa{
    background-color: rgba(108, 196, 199, 0.486);
}

.titulo h2{
    text-align: center;
}

.imagen img {
    margin-left: 53px;
}
.texto {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 20px;
    text-align: center;
}