body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #55D2FE;
	background-image: url(https://cn.i.cdn.ti-platform.com/cnlatam/content/13/showpage/hora-de-aventura/ve/6dvrksjg.png);
	background-size: cover ;
}

header {
	background-color: #55D2FE;
	background-image: url(https://e1.pxfuel.com/desktop-wallpaper/958/173/desktop-wallpaper-cartoon-network-adventure-time-adventure-time-computer.jpg);
	background-size: cover;
	padding: 1px;
}

.titulo {
-webkit-text-stroke-color:  #ffe2e2 ;
-webkit-text-stroke-width: 1px;
;

}

/* Estilos de la barra de navegación */
nav {
    background-color:  
	height: 40px;
	background: rgba(34,34,34,0.75);
	color: #fff;
	padding: 10px;
	border-radius: 10px;

}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	margin: 0 20px;
}

nav ul li a {
	color: #8fcef8;
	text-decoration: none;
}

/* Estilos del contenido principal */
section {
	padding: 20px;
}

/* Estilos del pie de página */
footer {
	color: #617cf3;
	padding: 100px;
	text-align: center;
}

h1 {
	text-align: center;
}


main {
	text-align: center;
}